.logo{
height:50px;
  width:auto;
  float:right;
}
.header{
  margin: 0px;
  display:flex;
  height:20%;
  background-color:;
  width:100%;
  align-items:center;
  justify-content: space-between;
}
.headerRight{
  right:5px;
  bottom:5px;
  display:flex;
}
.navButtons{
  padding:5px;
  margin-left:2.5px;
  margin-right:2.5px;
}
