
.logo{
height:50px;
  width:auto;
  float:right;
}
.header{
  display:flex;
  height:20%;
  background-color:;
  width:100%;
  align-items:center;
  justify-content: space-between;
}
.headerRight{
  right:5px;
  bottom:5px;
  display:flex;
  background-color:blue;
}
